body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  background: whitesmoke;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 190px); 
  gap: 15px;
   
  background-color: rgb(214, 211, 211);
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.grid-container div {
  background: white;
  border: 2px solid silver;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow:0 2px 5px black;
  text-align: left;
  padding: 12px;
}